body .navbar{
    color: white;
    text-decoration: none;
    padding: 5px;
}

body {
  /* background-color: #212529; */
 color: white;
  padding-left: 2%;
  padding-right: 2%;
  background: linear-gradient(to bottom , rgba(0,0,0,0), #151515),#212529;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #212529;
  border-radius: 5px;
width: 100%;
}
.brands {
  display: flex;
 overflow-x: auto;
  
  color: white;
  height:100px;

}
.brand {
    padding: 0px 30px 0px 30px;
}

.brands img{
  height: 90px;
  
  padding: 10px;

  border-radius: 4px;
  border-radius: 20%;
}

.des {
  
  margin-bottom: 0px;
}
.des p {
  margin-bottom: 0px;
}
.movies {
  padding: 5px;
  width : 100%;
  margin-left: 0px;
  margin-right: 0px;
  display: flexbox;


  /* background-color: #212529; */
}
.movies img {
width : 20%;
min-width: 100px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  

}
.movies img:hover {
  transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
}