body .navbar{
    color: white;
    text-decoration: none;
    padding: 5px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  /* background-color: #212529; */
 color: white;
  padding-left: 2%;
  padding-right: 2%;
 
  
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #212529;
  border-radius: 5px;
width: 100%;
}
.brands {
  display: flex;
 overflow-x: auto;
  
  color: white;
  height:100px;

}
.sidebar {
  width: 100%;

}
.brand {
    padding: 0px 30px 0px 30px;
}

.brands img{
  height: 90px;
  
  padding: 10px;

  border-radius: 4px;
  border-radius: 20%;
}

.des {
  
  margin-bottom: 0px;
}
.des p {
  margin-bottom: 0px;
}
.movies {
  padding: 5px;
  width : 100%;
  margin-left: 0px;
  margin-right: 0px;
  display: flexbox;


  /* background-color: #212529; */
}
.movies img {
width : 20%;
min-width: 100px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.5;

}
.movies img:hover {
  transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       opacity: 1.5; 
}
footer {
  background-color: black;
  margin: 0px;
}
.cont {
  margin: 10%;

}
.cont img {
  width:100%;
}
.thm div{
  display: inline-block;
  width: 30%;
}
.descr {
  margin: 0px;
  padding: 0px;
}


li {
display: inline;
}
li div{
  display: inline;
  position: absolute;
  margin-top: 0%;
}
img {
  width: 30%;
border-radius: 5%;
}

div h4{
  color: #5a5d60;
}
.main {
  margin: 5%;

}
.des {
  margin: 10px;
}
.dis img {
  width: 20%;
  padding: 5px;
  border-radius: 10px;
}
